
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/Home/Index">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>Giới thiệu</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- about page -->
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Chào mừng tới website của chúng tôi
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="w3l-welcome-info">
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">
                    <img src="/Assets/images/about11_1.jpg" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">
                    <img src="/Assets/images/about12.jpg" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3l-welcome-text">
            <p>
                STS Shop được ra đời với mong muốn đem lại những công cụ với chất lượng tốt nhất để các thành viên gia đình có thể chia sẻ những phút giây sảng khoái, thư giãn bên nhau, đồng thời cha mẹ cũng có một công cụ hiệu quả để vui chơi cùng con, qua đó dạy dỗ, rèn luyện cho con, tìm hiểu con và định hướng cho con. Công cụ tuyệt vời đó chính là đồ chơi trẻ em.
                STS Shop nỗ lực lấp đầy khoảng cách giữa trẻ em Việt Nam và trẻ em những nước tiên tiến bằng việc đem đến cho trẻ em Việt Nam những sản phẩm đã được những thương hiệu đồ chơi và đồ dùng nổi tiếng thế giới nghiên cứu và phát triển trong hàng chục năm qua. Các sản phẩm đó đều đáp ứng được tiêu chí an toàn, sáng tạo, bền chắc và tính giáo dục rất cao.
            </p>
            <p>STS Shop tin tưởng công việc của mình sẽ góp phần xây dựng những gia đình hạnh phúc, góp phần vào việc nuôi dạy một thế hệ công dân mới thông minh, tài năng hơn cho đất nước. </p>
            <p>Cảm ơn bạn đã tin tưởng STS Shop và rất mong nhận được sự hỗ trợ của bạn để STS Shop có thể hoàn thành được sứ mệnh của mình. Chúc bạn có những trải nghiệm mới đầy thú vị với STS Shop.</p>
        </div>
    </div>
</div>

