
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/Home/Index">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>Thanh toán</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- Terms of use-section -->
<section class="terms-of-use">
    <!-- terms -->
    <div class="terms">
        <div class="container">
            <!-- tittle heading -->
            <h3 class="tittle-w3l">
                Điều khoản
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
            <!-- //tittle heading -->
            <h6>Chính sách</h6>
            <p>
                Sự đổi mới của bạn là điều thúc đẩy thành công chung của chúng ta nhưng điều đó phải đi đôi với trách nhiệm. Các chính sách chương trình dành cho khách hàng, cùng với Thỏa thuận phân phối dành cho khách hàng, đảm bảo rằng chúng tôi tiếp tục cung cấp các sản phẩm đổi mới và đáng tin cậy nhất thế giới. Chúng tôi mời bạn khám phá chính sách của chúng tôi thông qua các ô tương tác bên dưới hoặc trong chế độ xem bản in.
            </p>
            <p>Lưu ý: Chúng tôi không kinh doanh đồ chơi bao lực, văn hóa phẩm đồi trụy hoặc những vật dụng, đồ chơi gây nguy hiểm và bị cấm </p>

            <h6>Chính sách bảo mật thông tin người dùng</h6>
            <p>Chúng tôi không chịu trách nhiệm cho bất kì hành vi để lộ thông tin người dùng trên máy của họ, nếu có vấn đề xảy ra về mất cắp tài khoản. Hãy liên lạc với bộ phận hỗ trợ của chúng tôi sớm nhất để tư vấn cho bạn!</p>
            <p>Chúng tôi khuyến khích bạn tăng cường bảo mật thông tin cá nhân bằng cách đưa thông tin chính xác của khách hàng. </p>

            <h6>Phương thức thanh toán</h6>
            <p>Ngoài thanh toán tại nhà, chúng tôi hỗ trợ 3 phương thức thanh toán trực tuyến trên mạng để tạo cho khách hàng cảm giác thuật tiện nhất. Tuy nhiên những phương thức này dễ bị kẻ xấu lợi dùng, để đảm bảo an toàn cho tài khoản trực tuyến của mình, hãy đặng nhập trực tiếp trên các website chính thức của các nhà cung cấp dịch vụ</p>

            <h6>Phương thức đổi trả</h6>
            <p>Nếu sản phẩm có sự cố xảy ra, bạn sẽ được đổi trả sản phẩm mới trong vòng 7 ngày. Chúng tôi sẽ yêu cầu bạn cung cấp một số thông tin cần thiết để thực hiện quá trình đổi trả!</p>
            <p>Lưu ý: Nếu sản phẩm không làm bạn hài lòng, hãy cho chúng tôi biết về nhận xét của bạn ở mục phản hồi.</p>
        </div>
    </div>
    <!-- /terms -->
</section>

